:root {
    --primary-color: #2196f3;
    --simple-color: #000000;
    --secondary-color: #757575;
    --mainsection-color: #2f303a;
    --item-color: #212121;
    --background-color: #2f303a;
    --whole-white-color: #ffffff;
    --fotter-color: rgba(255, 255, 255, 0.6);
    --hero-bck-color: #f5f4fa;
    --focus-color: #188ce8;
    --solid: #ececec;
    --border-link: #eeeeee;
  }