@media screen and (max-width: 1199px){
  .whatwedo{
    display: none;
  }
}

@media screen and (min-width: 1200px){
.whatwedo{
    margin: 0 auto;
    padding-bottom: 94px;
    &-list {
    display: flex;
    gap: 30px;
  }

  &-item {
    text-decoration: none;
    list-style: none;
    position: relative;
  }
  
  &-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
  }

  &-title {
    @include font(14px, 700, 1.14, 0.06em);
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    text-transform: uppercase;
    color: var(--whole-white-color);
    text-align: center;
  }
  &-hero {
    @include font(36px, 700, 1.2, 0.06em);
    color: var(--item-color);
    text-align: center;
    margin-bottom: 50px;
  }
}
}



